<div class="main-container pt-50">
    <div class="form-container">
        <!-- <div class="float-right mr-4 mt-3">
            <div>
                <a [routerLink]="'/signup'">Sign Up</a>
            </div>
        </div> -->
        <!-- Default form login -->
        <form class="text-center border border-light p-5" [formGroup]="loginForm">
            <p class="h4">Sign in</p>
            <!-- Email -->
            <input type="email" id="defaultLoginFormEmail" class="form-control p-4 mb-3" placeholder="E-mail" formControlName="email" (keyup.enter)="submit()" autocomplete="off" [ngClass]="{'invalid': loginForm['controls']['email'].errors && loginForm['controls']['email'].errors.required}">
            <!-- Password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control p-4 mb-3" placeholder="Password" formControlName="password" (keyup.enter)="submit()" autocomplete="off" [ngClass]="{'invalid': loginForm['controls']['password'].errors && loginForm['controls']['password'].errors.required}">
            <div class="d-flex justify-content-around mb-3">
                <div>
                    <!-- Forgot password -->
                    <a data-target="">Forgot password?</a>
                </div>
            </div>
            <!-- Sign in button -->
            <button block="true" class="btn btn-primary col-md-4" type="button" (click)="submit()">Sign in</button>
        </form>
    </div>
</div>