<div class="main-container">
    <div class="form-container">
        <!-- <div class="float-right mr-4 mt-3">
            <div>
                <a [routerLink]="'/signup'">Sign Up</a>
            </div>
        </div> -->
        <!-- Default form login -->
        <form class="text-center border border-light p-5">
            <p class="h4">Sign in</p>
            <!-- Email -->
            <input type="email" id="defaultLoginFormEmail" class="form-control p-4 mb-3" placeholder="E-mail">
            <!-- Password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control p-4 mb-3" placeholder="Password">
            <div class="d-flex justify-content-around mb-3">
                <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>
            <!-- Sign in button -->
            <button block="true" class="btn btn-primary col-md-4" type="submit">Sign in</button>
        </form>
    </div>
</div>