<div class="main-container pt-50">
    <div class="form-container">
        <div class="float-right mr-4 mt-3">
            <div>
                <a [routerLink]="'/login'">Login</a>
            </div>
        </div>
        <h3 class="p-2 text-center">Change Password</h3>
        <form class="text-center border border-light p-5" [formGroup]="forgotForm">
            <div class="row" *ngIf="!isSubmitted">
                <label for="email" class="mr-sm-2">Email:</label>
                <input type="email" id="email" class="form-control p-4 mb-3" placeholder="E-mail" formControlName="email" (keyup.enter)="validateEmail()" autocomplete="off" [ngClass]="{'invalid': forgotForm['controls']['email'].errors && forgotForm['controls']['email'].errors.required && forgotForm['controls']['email'].dirty}">    
            </div>
            <div class="row" *ngIf="isSubmitted">
                <!-- Password -->
                <label for="newPassword" class="mr-sm-2">Password:</label>
                <input type="password" id="newPassword" class="form-control p-4 mb-3" placeholder="Password" formControlName="newPassword" (keyup.enter)="submit()" autocomplete="off" [ngClass]="{'invalid': forgotForm['controls']['newPassword'].errors && forgotForm['controls']['newPassword'].errors.required && forgotForm['controls']['newPassword'].dirty}">
                <!-- Password -->
                <label for="confirmPassword" class="mr-sm-2">Confirm Password:</label>
                <input type="password" id="confirmPassword" class="form-control p-4 mb-3" placeholder="Password" formControlName="confirmPassword" (keyup.enter)="submit()" autocomplete="off" [ngClass]="{'invalid': forgotForm['controls']['confirmPassword'].errors && forgotForm['controls']['confirmPassword'].errors.required && forgotForm['controls']['confirmPassword'].dirty}">

            </div>
            <!-- Sign in button -->
            <button *ngIf="!isSubmitted" block="true" class="btn btn-primary col-md-4" type="button" (click)="validateEmail()">Validate</button>
            <button *ngIf="isSubmitted" block="true" class="btn btn-primary col-md-4" type="button" (click)="submit()">Update</button>
        </form>
    </div>
</div>