/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import '~ngx-toastr/toastr';

body {
    background-color: darkgrey;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.c-grey{
    color: #72777a!important;
}
.invalid{
    border: 1px solid #ff0000;
}
.cursor-pointer{
    cursor: pointer;
}
.mt-70{
    margin-top: 70px;
}
.pt-50{
    padding-top: 50px;
}