<div class="main-container">
    <div class="form-container">
        <div class="float-right mr-4 mt-3">
            <div>
                <a [routerLink]="'/login'">Login</a>
            </div>
        </div>
        <!-- Default form login -->
        <form class="text-center border border-light p-5">
            <p class="h4">Sign Up</p>
            <!-- First Name -->
            <input type="text" id="FirstName" class="form-control p-4 mb-3" placeholder="First Name">
            <!-- Last Name -->
            <input type="text" id="LastName" class="form-control p-4 mb-3" placeholder="Last Name">
            <!-- Email -->
            <input type="email" id="Email" class="form-control p-4 mb-3" placeholder="E-mail">
            <!-- Phone -->
            <input type="text" id="Phone" class="form-control p-4 mb-3" placeholder="Phone Number">
            <!-- Password -->
            <input type="password" id="Password" class="form-control p-4 mb-3" placeholder="Password">
            <!-- Confirm Password -->
            <input type="password" id="ConfirmPassword" class="form-control p-4 mb-3" placeholder="Confirm Password">
            <!-- Sign in button -->
            <button block="true" class="btn btn-primary col-md-4" type="submit">Sign Up</button>
        </form>
    </div>
</div>